* {
    margin: 0;
    color: var(--color-onBackground);
    background-color: var(--color-background);
}

.cursor_default {
  cursor: default;
}

.flex_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_primary {
    background-color: var(--color-background) !important;
    border: none;
    min-width: 10rem;
    height: 3rem;
    border-radius: 1rem;
}

.btn_primary span {
    font-size: 20px;
    color: var(--color-onBackground);
    font-weight: 600;
}

.btn_primary:hover {
    transition: ease 1s;
    transform: scale(1.05);
}

.btn_secondary {
    background-color: var(--color-secondary) !important;
    border: none;
    height: 3rem;
    border-radius: 1rem;
}

.btn_secondary span {
    font-size: 20px;
    color: var(--color-onSecondary);
    background-color: var(--color-secondary) !important;
    font-weight: 600;
    padding: 0.5rem;
}

/* HEADER */
header,
header h1 {
    background-color: var(--color-primary);
}

header {
    position: sticky;
    top: 0;
    height: 3.5rem;
}

header h1 {
    font-size: 22pt;
    padding: 0.5rem;
    color: var(--color-onPrimary);
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* CARD */
.symbol_card {
    width: 15rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}

.symbol_card img {
    width: 8rem;
    padding: 0.5rem 0.8rem;
}

.symbol_card h2 {
    color: var(--color-onPrimary);
    padding: 0.5rem;
    font-size: 20pt;
}

.symbol_card,
.symbol_card img,
.symbol_card h2,
.symbol_card article {
    background-color: var(--color-primary);
}

/* NAVIGATION BREADCRUMB */
.navigation_breadcrumb {
    height: 1rem;
}

.navigation_breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: var(--color-onBackground);
}

.breadcrumb_inactive a,
.breadcrumb_active a {
    color: var(--color-onBackground);
    text-decoration: none;
    font-size: 12pt;
}

/* CHART PAGE */
.chart_page {
    margin-top: 1rem;
}

.chart_page span {
    font-size: 14pt;
}

.chart_page h2,
.welcome h2 {
    font-size: 20pt;
}

/* CHART CUSTOMIZE */
/* TOOLTIP */
.chart_tooltip {
    border-radius: 0.7rem;
    border: 1px solid var(--color-secondary);
    padding: 0.15rem;
    background-color: var(--color-secondary);
}

.tooltip_text {
    background-color: rgba(217, 183, 93);
    color: var(--color-onSecondary);
    font-size: 12pt;
}

/* AXIS */
/* X*/
.chart_axis_x {
    fill: var(--color-onBackground);
    transform: rotate(-35deg);
    text-anchor: end;
}

/* Y*/
.chart_axis_y {
    fill: var(--color-onBackground);
    text-anchor: middle;
}

/* SWAL NOTIFICATIONS */
.swal_popup {
    background-color: var(--color-background) !important;
    border-radius: 2rem !important;
    box-shadow: none !important;
}

.swal_title {
    color: var(--color-onBackground) !important;
    font-size: 18pt !important;
    font-weight: bold !important;
}

.swal_text {
    color: var(--color-onBackground) !important;
    font-weight: 800 !important;
}

.swal_icon {
    background-color: var(--color-background) !important;
}

.success_swal_confirm,
.error_swal_confirm {
    border-radius: 2rem !important;
    padding: 1rem !important;
    font-size: 16pt !important;
    border: none !important;
}

.success_swal_confirm {
    background-color: var(--color-secondary) !important;
    color: var(--color-onSecondary) !important;
}

.error_swal_confirm {
    background-color: var(--color-tertiary) !important;
    color: var(--color-onTertiary) !important;
}
